.list__row:first-child {
    list-style-type: none;
}

.list__row:nth-child(2n) {
    background-color: var(--main-color-sub-transparent);
}

.list__row > .list__column > a::before,
.list__row > .list__column > a::after,
.list__row > .list__column > a {
    background-color: transparent;
}

.list__row:first-child>.list__column {
    font-size: var(--font-size-little);
    font-weight: 600;
}

.list__column:last-child {
    font-weight: 600;
}

.statistic,
.games {
    width: 100%;
    display: flex;
    justify-content: center;
}

.games__list,
.statistic__list {
    width: 100%;
    padding-left: 0;
}

.list__row {
    width: 100%;
    border-bottom: 1px solid var(--main-color-sub-light);
}

.list__row:last-child {
    border-bottom: none;
}

span.list__column {
    width: calc(20% - 5px);
    display: inline-block;
    text-align: center;
    margin: 10px 0;
}

.games__list span.list__column {
    width: calc(25% - 5px);
}

.user {
    display: flex;
    flex-wrap: wrap;
}

.user__actions {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    -webkit-box-shadow: var(--shadow-light);
    box-shadow: var(--shadow-light);
    
    margin-bottom: 20px;
}

.user__action:first-child {
    margin-top: 30px;
}

.user__action {
    margin: 10px 0;
}

.user__stat {
    display: flex;
    justify-content: center;
    text-align: center;
}

summary:focus{
    outline: none;
}
.stat__details {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out,
                width 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}
.stat__details summary {
    padding: 10px;
    font-weight: 600;
    font-size: var(--font-size-medium);
}

.stat {
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stat,
.statistic,
.games{
    background-color: #fff;

    border-radius: 4px;
    overflow: hidden;

    -webkit-box-shadow: var(--shadow-light);
    box-shadow: var(--shadow-light);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-1.25em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.stat__details[open] {
    animation-name: fadeInDown;
    animation-duration: 0.5s;
}

.statistic,
.game-list {
    background-color: #fff;
}

.stat > h1 {
    font-size: var(--font-size-big);
    margin: 10px 0;
}

.stat {
    width: 100%;
    margin-bottom: 20px;
}

.user__actions,
.user__stat {
    width: 100%;
}

.list__column > a {
    margin: auto;
    width: auto;
}

.games__container {
    flex-wrap: wrap;
    display: flex;
}
.games__container > .games {
    order: 2;
}
.games__container > .user {
    order: 1;
    width: 100%;
}

.games__container > .user > .user__stat > .stat {
    align-items: center;
}

.glow-on-hover_tiny {
    border: none;
    width: auto;
    font-size: var(--font-size-medium);
}

@media screen and (min-width: 800px) {
    .games__container > .games {
        order: 1;
    }
    .games__container > .user {
        order: 2;
    }

    .list__row {
        /*! width: calc(100% - ); */
        width: 100%;
    }
    span.list__column {
        width: calc(20% - 5px);
    }

    .games__list,
    .statistic__list {
        padding-left: 10px;
        width: calc(100% - 90px);
    }

    .user__actions,
    .user__stat {
        width: 50%;
    }

    .user__action {
        box-shadow: var(--shadow-light);
    }

    .user__stat {
        padding: 45px 0 30px 0;
        width: calc(50% - 50px);
    }

    .user__actions {
        display: flex;
        justify-items: center;
        align-content: center;
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 0;
    }


    .glow-on-hover {
        width: calc(100% - 100px);
        height: 80px;
        font-size: var(--font-size-huge);
    }

    .glow-on-hover_tiny {
        border: none;
        height: 20px;
        font-size: var(--font-size-small);
    }

    .user__action:first-child {
        margin-top: 45px;
    }
    .user__action {
        margin: 30px 0;
    }

    .stat {
        margin-bottom: 0;
    }
    
    .statistic,
    .games {
        width: calc(100% - 100px);
        margin: 20px 50px;
    }

    .games {
        width: calc(70% - 100px);
    }

    .games__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .games__container > .user {
        width: 30%;
    }

    .games__container > .user > .user__stat {
        width: 100%;
        margin: 20px 50px 0 0;
        padding: 0;
        max-height: 340px;
    }

    .games__container > .user > .user__stat > .stat {
        align-items: center;
        justify-content: start;
    }

    .games__container > .games {
        margin-bottom: 0;
    }
}