.alias {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-white);
    box-shadow: var(--shadow-light);
    width: 100%;
    margin-top: 0;
}

.alias__workplace {
    position: relative;
}

.alias__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.alias__users {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    border: 1px solid var(--main-color-sub-medium);
    border-radius: 4px;
    background-color: var(--main-color-white);
    box-shadow: var(--shadow-light);
}


.user {
    padding: 10px;
    font-size: var(--font-size-little);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user small {
    margin-left: 10px;
}

.user_own::after {
    position: absolute;
    font-size: var(--font-size-small);
    left: -14px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-orientation: sideways-right;
    content: "you";
    border: 1px solid var(--main-color-sub-medium);
    border-radius: 4px;
    background-color: var(--main-color-white);
    padding: 2px;
}

.user_guesser {
    border-radius: 4px;
    background-color: var(--main-color-sub-transparent);
}

.user:nth-child(2n) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color-sub-medium);
}

.user:nth-child(2n):last-child {
    border-bottom: 0;
}

.alias__workplace {
    margin-bottom: 0;
    width: auto;
}

.alias-card {
    width: auto;
    height: 60px;
    font-size: var(--font-size-huge);
    border-radius: 4px;
    background-color: var(--main-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color-sub-medium);
    margin-bottom: 10px;
}

.workplace__container {
    display: flex;
    /* justify-items: center; */
    flex-direction: column;
    overflow: hidden;
    /* align-content: flex-end; */
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.workplace__actions {
    display: flex;
    width: 100%;
}

.workplace__actions > .action {
    width: 50%;
    border-color: var(--main-color-sub-medium);
    outline: none;
    background-color: transparent;
    height: 60px;
    border: none;
    border-top: 1px solid var(--main-color-sub-medium);
    border-radius: 0;
}

.workplace__actions > .action {
    border-right: 1px solid var(--main-color-sub-medium);
    font-size: var(--font-size-huge);
}
.workplace__actions > .action > i {
    font-style: normal;
}
.workplace__actions > .action:last-child {
    border-right: none;
}

.action:focus {
    border-color: var(--main-color);
}

.action_wrong:hover {
    background-color: var(--main-color-sub-transparent);
}
.action_right:hover {
    background-color: rgb(206, 255, 210);
}

.workplace__actions > .action:last-child {
    margin-right: 0;
}

.workplace__actions > .action::before,
.workplace__actions > .action::after {
    border: none;
}

.alias-card_right {
    background-color: rgb(206, 255, 210);
}
.alias-card_wrong {
    background-color: var(--main-color-sub-medium);
}

@media screen and (min-width: 800px) {
    .alias {
        width: 50%;
        height: 80%;
        min-width: 400px;
        box-shadow: var(--shadow-light);
        margin-top: auto;
    }
}